.wrapper {
  width: 100%;
  height: 100vh;
  background-color: #f6f5f2;
  color: color; 
  display: flex;
  align-items: start;
  justify-content: center;
  position: relative;
  overflow-x: hidden;
}

.filter-container {
  padding: 20px 40px;
  width: 65%;
  height: 100%;
  overflow-y: auto;
  scroll-behavior: smooth;
  /* background-color: coral;  */
  position: absolute;
  left: 0;
  transition: width 0.3s ease; 
}

.creatives-container {
  padding: 20px 40px;
  width: 35%; 
  height: 100%;
  /* background-color: aqua;  */
  position: absolute;
  right: -35%; 
  transition: right 0.3s ease; 
}

.creatives-container.active {
  right: 0;
}

.filter-container.full-width {
  width: 100%;
}
